@import "components/common.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  hero intro start                          */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hero-holder{
    height: 100%;
    position: relative;
    background: url("@{images}/hero-bg.jpg") no-repeat 50% 100% fixed;
    .inner{
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0;
        transform: translateY(-50%);
        .upper-title{
            display: block;
            margin-bottom: 20px;
            text-align: center;
            font-size: 1.125em;
            font-weight: 300;
            text-transform: uppercase;
            color: @white;
        }
        h1{
            text-align: center;
            color: @white;
            line-height: 130px;
        }
        p{
            text-align: center;
            color: @white;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    & > .corner{
        position: absolute;
        right: 80px;
        bottom: 80px;
        .lane{
            height: 2px;
            &:before{ background: @white; }
        }
    }
    .arrow-holder{
        width: 18px;
        height: 12px;
        position: absolute;
        left: 50%;
        bottom: 80px;
        margin-left: -9px;
        .arrow-down{
            position: absolute;
            top: 0;
            left: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 12px solid @white;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  hero intro end                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  about start                               */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.about-holder{
    .inner{
        .info-holder{
            width: 100%;
            height: auto;
            position: relative;
            .info{
                width: 50%;
                position: relative;
                .corner{
                    position: absolute;
                    &.corner-tl{
                        top: -40px;
                        left: 0;
                    }
                    &.corner-br{
                        right: 0;
                        bottom: 0;
                    }
                    .lane{
                        &:before{
                            transition: all .5s @easing;
                            transform: translateX(-100%);
                        }
                    }
                }
                .label{
                    margin: 40px 0 40px -80px;
                    span{
                        color: @gold;
                        opacity: 0;
                        transition: all .5s @easing .5s;
                    }
                    svg > polygon{
                        fill: transparent;
                        stroke-width: 1px;
                        stroke: @black;
                        stroke-dasharray: 720px;
                        stroke-dashoffset: 720px;
                        transition: stroke-dashoffset .5s @easing 0s, fill .5s @easing .5s;
                    }
                }
                h2, p{
                    padding: 0 80px;
                    text-align: left;
                    opacity: 0;
                    transition: all .5s @easing;
                }
                h2{
                    font-size: 2.25em;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-bottom: 40px;
                }
                p{
                    padding-bottom: 20px;
                    &:last-child{
                        padding-bottom: 80px;
                    }
                }
            }
            .numbers-holder{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                backface-visibility: hidden;
            }
            &.active{
                .info{
                    .corner{
                        .lane{
                            &:before{
                                transform: translateX(0%);
                            }
                        }
                    }
                    .label{
                        span{ opacity: 1; }
                        svg > polygon{
                            fill: @black;
                            stroke-dashoffset: 0px;
                        }
                    }
                    h2, p{
                        opacity: 1;
                    }
                }
            }   
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  about end                                 */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  services start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.services-holder{
    .bg-title-holder{
        span{ text-align: right; }
    }
    .inner{
        padding-bottom: 80px;
        .desc-holder{
            max-width: 400px;
            .upperline{
                display: block;
                width: 40px;
                height: 2px;
                margin-bottom: 20px;
                background: @black;
            }
        }
        .list-holder{
            display: block;
            width: 100%;
            margin: 100px 0 80px;
            li{
                display: block;
                width: 100%;
                height: 88px;
                position: relative;
                &:before,
                &:after{
                    display: block;
                    width: 0%;
                    height: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: "";
                    background: @black;
                    transition: all 1s @easing;
                    overflow: hidden;
                }
                &:before{ display: none; }
                &:first-child{
                    &:before{
                        display: block;
                        bottom: auto;
                        top: 0;
                    }
                }
                .num-holder{
                    position: absolute;
                    top: -20px;
                    left: 40px;
                    span{
                        opacity: 0;
                        transition: all .5s @easing .5s;
                    }
                    svg > polygon{
                        fill: transparent;
                        stroke-width: 1px;
                        stroke: @black;
                        stroke-dasharray: 240px;
                        stroke-dashoffset: 240px;
                        transition: stroke-dashoffset .5s @easing 0s, fill .5s @easing .5s;
                    }
                }
                p{
                    font-size: 1.125em;
                    text-align: left;
                    padding: 0 120px;
                    line-height: 88px;
                    text-transform: uppercase;
                    span{
                        display: inline-block;
                        padding: 0 20px;
                        font-size: inherit;
                        font-weight: inherit;
                        position: relative;
                        &:before{
                            display: block;
                            width: 0%;
                            height: 4px;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            z-index: 10;
                            content: "";
                            background: @gold;
                            transition: all .5s @easing .4s;
                            overflow: hidden;
                        }
                    }
                }
                &.active{
                    &:before,
                    &:after{
                        width: 100%;
                    }
                    .num-holder{
                        span{ opacity: 1; }
                        svg > polygon{
                            fill: @black;
                            stroke-dashoffset: 0;
                        }
                    }
                    p{
                        span:before{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .btn{
            margin: 0 auto;
            svg > polygon{
                fill: @black;
            }
            &:hover{
                svg > polygon{
                    fill: @gold;
                }
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  services end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  projects start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.projects-holder{

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  projects end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/