@import "reset.less";
@import "settings.less";
@import "icons.less";
@import "buttons.less";
@import "labels.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page,
#content,
.outer,
.inner{
    width: 100%;
    height: auto;
}

html,
body,
#page,
#content{
    height: 100%;
    min-height: 100%;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  header start  			                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    .logo{
        width: 120px;
        height: auto;
        float: left;
        margin: 80px 0px 0px 80px;
        overflow: hidden;
    }
    .contacts-holder{
        width: 220px;
        float: right;
        margin: 80px 80px 0 0;
        overflow: hidden;
        .label-large{
            &:last-child{
                margin-top: 10px;
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  header end                			      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/